html{
    margin: 0;
    padding: 0;
    background-color: #2BBAA5;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background: #ffffff;
  padding: 40px;
  width: 360px;
  border-radius: 20px;
  border: 6px solid #67c6b7;
  text-align: center;
}

.logo {
  color: #4FAE9B;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 3rem;
}

.title {
  color: #4FAE9B;
  margin: 0;
  text-align: left;
}

.subtitle {
  color: #999;
  margin-bottom: 15px;
  text-align: left;
}

.btn {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #f5f5f572;
  border: 1px solid #ddd;
  height: 55px;
  color: #999;
}

.btn:hover{
    background-color: #f5f5f5;
}

.btn.green {
  background: #2BBAA5;
  color: white;
  margin: 0;
}

.btn.green:hover{
    background-color: #4fae9bd9;
    box-shadow: 0 0 10px #4FAE9B;
}

input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  box-sizing: border-box;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #ddd;
}

.divider span {
  margin: 0 10px;
  color: #aaa;
}